h1 {color: white;}
h1 {text-align: center;}
h3 {background-color:royalblue;}
body {background-color: black;}
h2 {color: white;}
h2 {background-color: royalblue;}
h2 {text-align: center;}
p {color: white;}
p {background-color:royalblue;}
h4 {color: white;}
ol {background-color:royalblue}
h3 {color: white;}